﻿
<div class="row">
    <div class="col-md-4">
        <h2>Register User</h2>
        <p>POST: http://localhost:61544/api/Account/Register</p>
        <p>params: Email, Password, ConfirmPasswor</p>
    </div>
    <div class="col-md-4">
        <h2>Get bearer Token</h2>
        <p>POST: http://localhost:61544/Token</p>
        <p>params: grant_type: password, userName, password</p>
    </div>
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>for get correct mails add header "bearer" with access_token value from /Token response</p>
        <p>@Html.ActionLink("API", "Index", "Help", new { area = "", @class= "btn btn-default" }, null)</p>
    </div>
</div>
